h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

input, textarea {
    background-color: transparent;
    border: 0;
    color: #565656;
}

textarea {
    resize: none;
    overflow: auto;
}

.base-user-container {
    margin-top: 80px;
}

.user-info-container {
    display: flex;
    gap: 10px;
}

.user-image {
    margin-top: 10px;
    border-radius: 32px;
    border: 1;
    border-width: 1px;
    border-color: #6E6E6E;
    width: 193px;
    height: 218px;
    background-color: black;
    overflow: hidden;
    max-width: 50%;
}

.user-info-edit {
    height: 100%;
    padding: 10px 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 50%;
}

.user-info-edit input {
    font-size: 20px;
    padding: 1px 1px;
    font-weight: 500;
}

.user-info-edit input:focus-visible {
    outline: none;
}

.user-info-edit input::placeholder {
    color: #565656;
    opacity: 80%;
}

.user-info-base-edit {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 140px;
    padding-left: 30px;
}

.user-info-base-info input {
    line-height: 24px;
    letter-spacing: 0.07em;
}

.user-info-socials {
    text-decoration: none;
    color: #222121;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 150px;
}

.user-info-socials input {
    width: 100%;
    font-size: 16px;
    text-decoration-line: underline;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    padding: 5px 1px;
}


.socials {
    display: flex;
    gap: 15px;
    margin: 0;
    max-width: 150px;
}

.socials p {
    margin: 0;
    font-size: 16px;
    color: #222121;
}

.socials img {
    height: 28px;
    width: 28px;
}

.description-container {
    margin-top: 30px;
}

.description-container textarea {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding: 5px;
    box-sizing: border-box;
    height: 100px;
}

.description-container textarea:focus-visible {
    outline: none;
}

.description-container textarea::placeholder {
    color: #565656;
    opacity: 80%;
    letter-spacing: 0.05em;
}

.saveButton {
    margin-top: 30px;
    padding: 20px;
    width: 430px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0.08em;
    border-radius: 16px;
    background-color: #47279B;
}

.saveButton button {
    font-family: "Montserrat Alternates", sans-serif;
}
