.wallet-connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 40px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 330px;
    height: 300px;
    color: #030214;
}

h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 0;
}

.wallet-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.wallet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5e3beb;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.wallet-button:hover {
    background-color: #4b30cc;
}

.wallet-icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.phantom {
    background-color: #6e5beb;
}

.solflare {
    background-color: #eb634b;
}

.next-button {
    margin-top: 30px;
    font-size: 18px;
    background-color: #47279B;
}

.next-button:hover {
    background-color: #1a1f2e;
}

.add-info-container {
    width: 390px;
    background-color: #f8f8f8;
    margin: auto;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    border-radius: 16px;
    padding: 20px;
    color: #030214;
}

.user-info-container {
    display: flex;
    gap: 10px;
}

.user-image {
    margin-top: 10px;
    border-radius: 8px;
    border: 1;
    border-width: 1px;
    border-color: #6E6E6E;
    width: 193px;
    height: 218px;
    background-color: black;
    overflow: hidden;
}

.user-info {
    max-width: 100%;
    height: 100%;
    padding: 10px 4px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.user-info h3 {
    margin: 0px;
}

.user-info-socials {
    text-decoration: none;
    color: #222121;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials {
    display: flex;
    gap: 15px;
    margin: 0;
}

.socials p {
    margin: 0;
    font-size: 16px;
    color: #222121;
}

.socials img {
    height: 28px;
    width: 28px;
}

.user-description {
    padding: 20px 10px;
}

.user-description p {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
}

.divider-small {
    border-top: 2px solid #8170DB;
    width: 200px;
    margin: 0 auto;
}

.divider-large {
    border-top: 2px solid #8170DB;
    width: 350px;
}

.whishlist-title {
    display: flex;
    justify-content: center;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.whishlist-title h2 {
    margin: 0;
}

.saveButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.saveButton button {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
}